<div class="background2">
    <div class="container-fluid" style="overflow: scroll;">
        <div class="row center">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="assets/fondo1.jpg" class="new-img" alt="new-img">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="assets/fondo2.png" class="new-img" alt="new-img">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="assets/fondo3.png" class="new-img" alt="new-img">
                    </div>
                </div>
            </div>
            <div class="row">
                <h2>Novedades en SIGEAVI</h2>
            </div>
            <div class="row" style="margin-top: 20px;">
                <app-contact id="contact" [isMenu]="true"></app-contact>
            </div>
        </div>
    </div>
</div>